services:
  mlsharp:
    build:
      context: .
      dockerfile: Dockerfile.cuda
    env_file:
      - .env
    ports:
      - "11011:11011"
    volumes:
      - ./data:/app/data
      - ./models:/app/models
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
